@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #071129;
  --card: #071829;
  --accent: #44E1C4;
  --red: #C62828;
}

body {
  font-family: 'Poppins', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: linear-gradient(180deg, #041223 0%, #071129 100%);
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}
